
.mall-history-container{
    min-height: 100vh;
    background: #F2F3F4;
    overflow: hidden;
    font-family: PingFang-SC-Medium;
  .list{
    background: #fff;
    padding-left: 15px;
    margin: 20px 0;
    .item{
      // font-family: SFUIText-Regular;
      font-size: 14px;
      color: #999999;
      line-height: 1.2;
      &-box{
        padding: 9px 15px 9px 0;
        position: relative;
        &::after{
          @include setBottomLine(#CDCED2);
        }
      }
      .mobile{
        font-size: 18px;
        color: #000000;
        line-height: 25px;
      }
      .date{
        padding-top: 5px;
      }
    }
  }

}

.empty-box{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // font-family: PingFangSC-Regular;
  font-size: 14px;
  background: #fff;
  color: #888888;
  text-align: center;
  .content{
    width: 220px;
    line-height: 1.5;
    .img{
      display: block;
      width: 171px;
      height: 177px;
      margin:  0 auto 30px;
    }
  }
}
