.invite-container {
  min-height: 100vh;
  font-family: PingFang-SC-Medium;
  &__header {
    position: relative;
    width: 100%;
    height: 40px;
    &-banner {
      position: fixed;
      top: 0;
      left: auto;
      right: auto;
      z-index: 9;
      width: 100%;
      max-width: 750px; /*no*/
      height: 40px;
      padding: 0 17px;
      background: #e04141;
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        width: 50px;
        height: 28px;
      }
      span {
        // font-family: HelveticaNeue-Medium;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.9);
      }
    }
  }
  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      width: 100%;
      text-align: center;
      &.title {
        // font-family: HelveticaNeue-CondensedBlack;
        font-size: 30px;
        color: #262628;
      }
      &.subTitle {
        span {
          // font-family: HelveticaNeue-BoldItalic;
          font-size: 20px;
          color: #fff;
          text-shadow: 0 1px 1px #ff4d3f; /*no*/
          background: #F5A623;
          border-radius: 18px;
          padding: 4px 10px;
        }
      }
      &.gift {
        padding: 10px 45px 25px;
        img {
          width: 100%;
        }
      }
      &.userIcon {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
          // font-family: PingFangSC-Semibold;
          font-size: 17px;
          color: #262626;
          &:first-of-type {
            width: 40px;
            height: 40px;
            background: #f3f4f5;
            border-radius: 100%;
            overflow: hidden;
            margin-bottom: 15px;
            img {
              width: 40px;
              height: 40px;
              border-radius: 100%;
              vertical-align: middle;
            }
          }
          &:last-of-type {
            // font-family: PingFangSC-Semibold;
            font-size: 14px;
            color: #9999a1;
            margin-top: 5px;
          }
        }
      }
      &.inviteCode {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 20px 0;
        span {
          display: inline-flex;
          justify-content: space-between;
          align-items: center;
          flex: 1;
          background: #f2f3f4;
          padding: 10px 8px;
          border-radius: 20px;
          margin-right: 15px;
          em {
            font-style: normal;
            // font-family: PingFangSC-Semibold;
            font-size: 14px;
            color: #9999A1;
          }
          strong {
            // font-family: PingFangSC-Semibold;
            font-size: 20px;
            color: #3B424C;
            text-align: center;
          }
        }
        button {
          width: 75px;
          padding: 10px 0;
          // height: 40px;
          // line-height: 40px;
          // font-family: PingFang-SC-Bold;
          font-size: 17px;
          color: #e04141;
          text-align: center;
          border-radius: 20px;
          border: 1px solid #e04141; /*no*/
          background: transparent;
        }
      }
      &.copyTips {
        margin-top: 10px;
        // font-family: PingFang-SC-Bold;
        font-size: 14px;
        color: #9999A1;
        text-align: center;
      }
    }
  }
  &__footer {
    padding: 20px 15px;
    button {
      width: 100%;
      padding: 15px 0;
      border: none;
      outline: none;
      background-image: linear-gradient(-39deg, #ff5a5a 0%, #e04141 100%);
      border-radius: 25px;
      box-shadow: 5px 15px 20px 0 rgba(0, 0, 0, 0.2); /*no*/
      // font-family: PingFangSC-Medium;
      font-size: 18px;
      color: #fff;
      letter-spacing: 0;
      text-align: center;
    }
  }
}
