.TreasureDetails-container {
  position: relative;
  width: 100vw;
  // height: 100vh;
  // position: relative;
  // overflow: hidden;
  &-swiper {
    width: 100vw;
    position: relative;
    background: #fff;
    .swiper-img-div{
      height: 3.4rem;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets {
      bottom: 0;
    }
  }
  &-share{
    width: 100%;
    padding: 10px 16px;
    .share-ionc{
      height: 16px;
      width: 16px;
      float: left;
      margin-right: 4px;
      padding: 4px 0;
      i{
        display: block;
        height: 16px;
        width: 16px;
        float: left;
        background: url('./images/trumpet.png') no-repeat;
        background-size: 100%;
      }
    }
    .centent-scroll{
      height: 24px;
      overflow: hidden;
    }
    .share-centent{
      height: auto;
      float: left;
      width: calc(100% - 20px);
      transition: transform 1s;
      -moz-transition: transform 1s;	/* Firefox 4 */
      -webkit-transition: transform 1s;	/* Safari 和 Chrome */
      -o-transition: transform 1s;	/* Opera */
      .share-model{
        // houxu
        font-size: 13px;
        width: 100%;
        height: 24px;
        line-height: 22px;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
      }
    }
    // @-webkit-keyframes across {
    //   0% {-webkit-transform:translateY(-20px);transform: translateY(-20px);}
    //   7% {-webkit-transform:translateY(-40px);transform: translateY(-40px);}
    //   14% {-webkit-transform:translateY(-60px);transform: translateY(-60px);}
    //   21% {-webkit-transform:translateY(-80px);transform: translateY(-80px);}
    //   28% {-webkit-transform:translateY(-100px);transform: translateY(-100px);}
    //   35% {-webkit-transform:translateY(-120px);transform: translateY(-120px);}
    //   42% {-webkit-transform:translateY(-140px);transform: translateY(-140px);}
    //   49% {-webkit-transform:translateY(-160px);transform: translateY(-160px);}
    //   56% {-webkit-transform:translateY(-180px);transform: translateY(-180px);}
    //   63% {-webkit-transform:translateY(-200px);transform: translateY(-200px);}
    //   70% {-webkit-transform:translateY(-220px);transform: translateY(-220px);}
    //   77% {-webkit-transform:translateY(-240px);transform: translateY(-240px);}
    //   84% {-webkit-transform:translateY(-260px);transform: translateY(-260px);}
    //   91% {-webkit-transform:translateY(-280px);transform: translateY(-280px);}
    //   100% {-webkit-transform:translateY(0px);transform: translateY(0px);}
    // }
    // @keyframes across {
    //   0% {-webkit-transform:translateY(-20px);transform: translateY(-20px);}
    //   7% {-webkit-transform:translateY(-40px);transform: translateY(-40px);}
    //   14% {-webkit-transform:translateY(-60px);transform: translateY(-60px);}
    //   21% {-webkit-transform:translateY(-80px);transform: translateY(-80px);}
    //   28% {-webkit-transform:translateY(-100px);transform: translateY(-100px);}
    //   35% {-webkit-transform:translateY(-120px);transform: translateY(-120px);}
    //   42% {-webkit-transform:translateY(-140px);transform: translateY(-140px);}
    //   49% {-webkit-transform:translateY(-160px);transform: translateY(-160px);}
    //   56% {-webkit-transform:translateY(-180px);transform: translateY(-180px);}
    //   63% {-webkit-transform:translateY(-200px);transform: translateY(-200px);}
    //   70% {-webkit-transform:translateY(-220px);transform: translateY(-220px);}
    //   77% {-webkit-transform:translateY(-240px);transform: translateY(-240px);}
    //   84% {-webkit-transform:translateY(-260px);transform: translateY(-260px);}
    //   91% {-webkit-transform:translateY(-280px);transform: translateY(-280px);}
    //   100% {-webkit-transform:translateY(0px);transform: translateY(0px);}
    // }
    // @keyframes across1 {
    //   0% {-webkit-transform:translate3d(0, 0px, 0);transform: translate3d(0, 0px, 0);}
    //   65% {-webkit-transform:translate3d(0, -20px, 0);transform: translate3d(0, -20px, 0);}
    //   100% {-webkit-transform:translate3d(0, -40px, 0);transform: translate3d(0, -40px, 0);}
    // }
  }
  &-wire{
    width: 100%;
    height: 1px;
    display: block;
    background: #E4E4E4;
    clear: both;
    margin: 0 auto;
  }
  &-content {
    width: 100vw;
    height: auto;
    padding: 10px 16px;
    .product_name{
      color: #323232;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      max-height: 40px;
      word-wrap: break-word;
      text-overflow: -o-ellipsis-lastline;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;  
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .Progress-text{
      padding-top: 12px;
      p{
        width: 100%;
        font-size: 15px;
        color: #9999A1;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
      }
      P:first-child{
        width: 100%;
        font-size: 13px;
        color: #323232;
      }
      .el-progress {
        line-height: 0;
        padding: 6px 0;
      }
      .el-progress-bar {
        padding-right: 0;
      }
    }
  }
  .Input-text-box{
    padding: 10px 16px 0;
    p{
      font-size: 12px;
      color: #323232;
    }
    &-button{
      padding-bottom: 16px;
      &-nav{
        width: 100%;
        padding-top: 6px;
        height: 56px;
      }
      &-li{
        float: left;
        width: 25%;
        height: 40px;
        line-height: 0.2rem;
        text-align: center;
        position: relative;
      }
      &-span{
        display: none;
        font-size: 12px;
        color: #FF7700;
        background: rgba(224, 65, 65, .1);
        padding: 0px 4px;
        position: absolute;
        left: calc(100% - 74px);
        top: 0;
      }
      &-button{
        width: 50px;
        height: 26px;
        font-size: 16px;
        outline: 0;
        border: 1px solid #D8D8D8;
        background: transparent;
        color: #323232;
        position: absolute;
        bottom: 0;
        left: calc(100% - 68px);
      }
      .activate{
        span{
          display: block;
          width: 64px;
        }
        button{
          border: 1px solid #E04141;
          color: #E04141;
        }
      }
      .Fall{
        span{
          display: none
        }
        button{
          border: 1px solid #D8D8D8;
          color: #323232;
        }
      }
      .buttonGray {
        color: #D8D8D8 !important;
      }
    }
    &-affirm{
      width: 100%;
      height: 38px;
      color: #fff;
      border: 0;
      border-radius: 4px;
      font-size: 16px;
      background: #E04141;
      text-align: center;
      line-height: 38px;
    }
    &-Have_bet{
      padding: 14px 18px;
      background: rgba(255, 57, 57, 0.05);
      margin-top: 10px;
      p{
        font-size: 0.24rem;
        color: #9999A1;
        a{
          display: block;
          float: right;
          color: #E04141;
        }
      }
    }
    &-In_lottery{
      padding: 0.28rem 18%;
      background: #FCF6F1;
      margin-top: 10px;
      P:first-child{
        line-height: 30px;
        color: #F24D18;
        font-size: 18px;
        text-align: center;
      }
      P:last-child{
        line-height: 16px;
        padding: 8px 0px;
        text-align: center;
        color: #4D4943;
        font-size: 12px;
      }
    }
    &-Lottery_show{
      background: #FCF6F1;
      margin-top: 10px;
      position: relative;
      overflow: hidden;
      &-padding{
        padding: 14px 14px 14px 36px;
      }
      &-img{
        border-radius: 24px;
        overflow: hidden;
        float: left;
        img{
          width: 48px;
          height: 48px;
        }
      }
      &-div{
        width: 76%;
        float: right;
        li{
          list-style: none;
          line-height: 26px;
          color: #323232;
          font-size: 16px;
        }
      }
      &-button{
        clear: both;
        width: 100%;
        height: 34px;
        background: #E04141;
        color: rgba(255, 255, 255, .9);
        font-size: 16px;
        line-height: 34px;
        text-align: center;
      }
      &-label{
        transform: rotate(-44deg);
        width: 100px;
        height: 12px;
        font-size: 11px;
        color: #fff;
        background: #E04141;
        position: absolute;
        left: -32px;
        top: 10px;
        text-align: center;
      }
    }
    &-Flow_bureau{
      padding: 0.32rem 7%;
      background: #FCF6F1;
      margin-top: 10px;
      P:first-child{
        line-height: 18px;
        font-size: 12px;
        text-align: center;
      }
      P:last-child{
        line-height: 18px;
        text-align: center;
        color: #4D4943;
        font-size: 12px;
      }
    }
  }
  .fold{
    padding: 0 16px 10px;
    .el-collapse {
      border-bottom: none;
    }
    .el-collapse-item__wrap {
      border-bottom: none;
    }
    .el-collapse-item__header {
      font-size: 0.28rem;
      color: #262628 !important;
      border-bottom: none;
      height: 38px;
    }
    .el-collapse-item__content {
      font-size: 13px;
    }
    .el-icon-arrow-right:before {
      content: " ";
      display: block;
      width: 20px;
      height: 22px;
      background: url('./images/main-back@2x.png') no-repeat;
      background-size: 54% 84%;
      transform: rotate(-181deg);
    }
    .el-icon-close:before {
      content: " ";
      display: block;
      width: 20px;
      height: 22px;
      background: url('./images/dislike@2x.png') no-repeat;
      background-size: 54% 84%;
    }
    li{
      list-style: none;
      font-size: .26rem;
      word-wrap: break-word;
      text-align: justify;
      color: #7e7e7e;
      line-height: 0.36rem;
      padding-left: .3rem;
    }
    li:before{
      content: '';
      position: absolute;
      width: 0.12rem;
      height: 0.12rem;
      background: #7e7e7e;
      margin: .12rem 0rem .1rem -.3rem;
      border-radius: 0.06rem;
    }
    .selectList{
      width: 100%;
      padding: .3rem 0;
      background: #fff;
      p{
        list-style: none;
        font-size: .26rem;
        color: #000;
        position: relative;
        padding-bottom: 6px;
        i{
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          width: .28rem;
          height: .28rem;
          background: url(./images/down.png) no-repeat;
          background-size: 100%;
        }
        i:first-child{
          background: url(./images/up.png) no-repeat;
          background-size: 100%;
        }
      }
      .selectList-info{
        width: 100%;
        transition: display .3s;
        -moz-transition: display .3s;	/* Firefox 4 */
        -webkit-transition: display .3s;	/* Safari 和 Chrome */
        -o-transition: display .3s;	/* Opera */
        nav{
          padding: .15rem 0;
        }
        li{
          list-style: none;
          font-size: 13px;
          word-wrap: break-word;
          text-align: justify;
          color: #6D6D6D;
          line-height: 22px;
          padding-left: .3rem;
        }
        li:before{
          content: '';
          position: absolute;
          width: .1rem;
          height: .1rem;
          background: #7e7e7e;
          margin: .12rem 0rem .1rem -.3rem;
          border-radius: 0.06rem;
        }
      }
    }
  }
  &-footer{
    width: 100%;
    height: 2rem;
    font-size: .26rem;
    color: #888888;
    line-height: 2rem;
    text-align: center;
  }
  .swiper-pagination-bullet{
    background: transparent;
    border: 1px solid #fff;
    width: .2rem;
    opacity: 1;
    height: .2rem;
  }
  .swiper-pagination-bullet-active{
    background: #fff;
  }
  .swiper-container{
    height: 3.4rem;
  }
  .margin_bot{
    margin-bottom: .22rem;
  }
  &-betAmountDrawer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    background: rgba(51, 51, 51, .5);
    .betAmountDrawer-centent{
      width: 100%;
      height: 40%;
      background: #fff;
      padding-top: 44px;
      position: absolute;
      transition: bottom .3s;
      -moz-transition: bottom .3s;	/* Firefox 4 */
      -webkit-transition: bottom .3s;	/* Safari 和 Chrome */
      -o-transition: bottom .3s;	/* Opera */
      left: 0;
      .before-close{
        position: absolute;
        top: 0;
        right: 0;
        margin: 18px;
      }
      p:first-child{
        font-size: 12px;
        color: #323232;
        text-align: center;
      }
      p:nth-child(2){
        font-size: 16px;
        color: #E04141;
        text-align: center;
        padding-top: 6px;
      }
      .Amount-input{
        width: 100%;
        text-align: center;
        padding-top: 10px;
        width: 70%;
        padding-left: 22px;
        margin: 0 auto;
      }
      p:nth-child(4){
        text-align: center;
        width: 100%;
        line-height: 34px;
        clear: both;
        span{
          color: #FF7700;
          font-size: 12px;
          padding: 1px 4px;
          background: rgba(224, 65, 65, 0.1);
        }
      }
      .TreasureDetails-container-betAmountDrawer-button{
        width: 70%;
        text-align: center;
        margin: 0 auto;
        height: 38px;
        background: #E04141;
        border-radius: 4px;
        color: #fff;
        font-size: 16px;
        line-height: 38px;
      }
    }
  }
  &-betAmountBackup{
    .betAmountBackup-div{
      width: 56px;
      height: 46px;
      margin: 0 auto;
      margin-bottom: 42px;
      margin-top: 48px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .betAmountBackup-text{
      font-size: 14px;
      color: #323232;
      text-align: center;
      line-height: 14px;
    }
  }
}
.Betting-success{
  background: rgba(0, 0, 0, .6);
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 25vh;
  height: 100%;
  width: 100%;
  z-index: 1;
  &-centent{
    height: 274px;
    width: 74%;
    margin: 0 auto;
    border-radius: 10px;
    background: #fff;
    position: relative;
    &-close{
      position: absolute;
      top: 0;
      right: -24px;
      width: 16px;
      height: 16px;
      z-index: 1;
      line-height: 16px;
      font-size: 16px;
      color: #fff;
      text-align: center;
    }
    &-div{
      padding-top: 24px;
      width: 146px;
      height: auto;
      margin: 0 auto;
      img{
        width: 100%;
        height: 100%;
      }
    }
    &-text{
      color: #E04141;
      font-size: 24px;
      text-align: center;
      line-height: 80px;
    }
    &-info{
      font-size: 14px;
      color: #9999A1;
      text-align: center;
      padding: 0 18px;
    }
    &-button{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 46px;
      background: #E04141;
      font-size: 16px;
      border-radius: 0 0 10px 10px;
      color: #FFFFFF;
      line-height: 46px;
      text-align: center;
    }
  }
}